{% extends 'base.html' %}
{% load static %}


{% block title %}GST Module Coming Soon{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-white">GST Module Coming Soon!</h2>
    <div class="row justify-content-center">
        <div class="col-md-6 card">
            <a>GSTR-1 Utility (Coming Soon)! We are designing GSTR1 filing utility where you can export CSV file and .xlsx file for import into GST Offline utility. We will also make a json which can be imported directly into GST Portal. Stay tuned.</a>
        </div>
    </div>
</div>
{% endblock %}
```
