# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
.venv/
venv/
ENV/

# Environment variables
.env

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db


staticfiles/
item_images/
.idea/

