# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment directories
venv/
ENV/
.venv/

# Log files
*.log

# Operating system files
.DS_Store
Thumbs.db


static/
staticfiles/
item_images/
.idea/
