/* File: static/css/custom.css */

body {
    background-color: #343a40;
    color: #f8f9fa;
    display: flex;
    flex-direction: column;
}

.custom-header {
    background-color: #212529;
    color: #f8f9fa;
}

.navbar-dark .navbar-nav .nav-link {
    color: #f8f9fa;
}

.table-dark {
    background-color: #343a40;
    color: #f8f9fa;
}

.table-dark thead th {
    background-color: #212529;
    color: #f8f9fa;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
}

.btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
}

.footer {
    background-color: #212529;
    color: #f8f9fa;
}

.footer a {
    color: #f8f9fa;
}

/* Styles for search form */
.input-group {
    max-width: 500px;
    margin: 0 auto;
}

/* Styles for pagination */
.pagination .page-link {
    color: #f8f9fa;
    background-color: #343a40;
    border-color: #343a40;
}

.pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
}

.pagination .page-item:hover .page-link {
    background-color: #495057;
    border-color: #495057;
}

/* Form styling */
form.bg-dark {
    background-color: #343a40;
    color: #f8f9fa;
}

form.bg-dark input,
form.bg-dark textarea,
form.bg-dark select {
    background-color: #495057;
    border: 1px solid #495057;
    color: #f8f9fa;
}

form.bg-dark input::placeholder,
form.bg-dark textarea::placeholder,
form.bg-dark select::placeholder {
    color: #adb5bd;
}

form.bg-dark input:focus,
form.bg-dark textarea:focus,
form.bg-dark select:focus {
    background-color: #495057;
    border-color: #007bff;
    color: #f8f9fa;
}

form.bg-dark .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    padding: 5px 10px;
    font-size: 14px;
    width: auto;
}


.list-group-item {
    background-color: rgb(33, 37, 41); /* Dark background color */
    border-bottom: 0.8px solid rgb(77, 81, 84); /* Border style */
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0); /* Inset box shadow */
    color: rgb(255, 255, 255); /* Text color */
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; /* Font family */
    font-size: 16px; /* Font size */
    font-weight: 700; /* Font weight */
    line-height: 24px; /* Line height */
    padding: 8px; /* Padding */
    text-align: start; /* Text alignment */
}

.list-group-item:nth-child(even) {
    background-color: rgba(33, 37, 41, 0.9); /* Alternate shade */
}

.feature-heading {
    font-size: 24px; /* Adjust the size as needed */
}




.division-list {

    justify-content: flex-start;
}


.action-list {
    list-style-type: none;

}

html, body {
    height: 100%;
    margin: 0;
}


main {
    flex-grow: 1;
}


input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"],
input[type="datetime-local"],
input[type="month"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
input[type="week"],
textarea,
select {
    background-color: grey;
    color: white; /* Optional: to ensure text is visible */
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
input[type="email"]::placeholder,
input[type="number"]::placeholder,
input[type="date"]::placeholder,
input[type="datetime-local"]::placeholder,
input[type="month"]::placeholder,
input[type="search"]::placeholder,
input[type="tel"]::placeholder,
input[type="time"]::placeholder,
input[type="url"]::placeholder,
input[type="week"]::placeholder,
textarea::placeholder {
    color: white;
}


.select2-container--default .select2-selection--single {
    background-color: grey;
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: white;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: white transparent transparent transparent;
}

.select2-container--default .select2-results__option {
    background-color: grey;
    color: white; /* Optional: to ensure text is visible */
}

.select2-container--default .select2-results__option--highlighted {
    background-color: darkgrey;
    color: white; /* Optional: to ensure text is visible */
}

.no-label-in-table label {
    display: none;
}

/* Ensure you load your custom.css in your Django template */
.broader-field {
    transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    width: 150%;
    position: relative;
    z-index: 10; /* Ensures the focused field is on top */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Adds a shadow for prominence */
}


    /* Hide up and down arrows from numeric input fields */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield; /* Firefox */
}

