{% extends 'base.html' %}

{% block title %}Delete Supplier{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4 text-white">Delete Supplier</h2>
            <div class="alert alert-info" role="alert">
            <p class="text-bg-danger text-center fw-bolder font-monospace">Are you sure you want to delete Supplier: "{{ supplier.name }}"?</p>
            <form method="post" class="d-flex justify-content-around">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Confirm</button>
                <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}