{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <h2>Add Medical Representative</h2>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="col-md-6 mb-3">
                <label for="mobile_number" class="form-label">Mobile Number</label>
                <input type="text" class="form-control {% if form.mobile_number.errors %}is-invalid{% endif %}" id="mobile_number" name="mobile_number" value="{{ form.mobile_number.value | default_if_none:''}}" required>
                {% for error in form.mobile_number.errors %}
                    <div class="invalid-feedback">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="{% url 'add_medical_representative' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}