{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">{% if is_edit %}Edit Company{% else %}Add Company{% endif %}</h2>
    <form method="post" class="mt-3">
        {% csrf_token %}

        <!-- Form fields with Bootstrap styling -->
        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.name | as_crispy_field }}
            </div>
            <div class="col-md-6 mb-3">
                {{ form.suppliers | as_crispy_field }}
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                {{ form.medical_representative | as_crispy_field }}
            </div>
            <!-- Add additional fields here using the same pattern -->
        </div>

        <!-- Submit button -->
        <div class="text-center">
            <button type="submit" class="btn btn-primary btn-lg">{% if is_edit %}Update{% else %}Submit{% endif %}</button>
        </div>
    </form>
</div>
{% endblock %}