{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <h2>Add Division</h2>
    <form method="post" action="{% url 'division_create' %}">
        {% csrf_token %}
        <div>
            {{ form.name|as_crispy_field }}
        </div>
        <div>
            {{ form.company|as_crispy_field }}
        </div>
        <div>
            {{ form.suppliers|as_crispy_field }}
        </div>
        <div>
            {{ form.medical_representative|as_crispy_field }}
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock %}

