{% extends 'base.html' %}

{% block title %}Division List{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mb-4 ">
        <div class="col-md-8">
            <h2 class="text-center mb-4">Division List</h2>
            <!-- Search form with Add New Division button -->
            <form method="get" action="" class="mb-4">
                <div class="input-group">
                    <!-- Search Input -->
                    <input type="text" class="form-control search-input" placeholder="Search a Company or its Division" name="search" value="{{ request.GET.search }}">
                    
                    <!-- Improved Search Button -->
                    <button class="btn btn-search" type="submit">
                        &#128269; <!-- Unicode for the search icon -->
                    </button>
                                    <a href="{% url 'division_create' %}" class="btn btn-success" style="margin-left: 1em">Add New Division</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Table structure for companies and divisions -->
    <div class="table-responsive d-flex justify-content-center">
        <div class="col-md-8">
            <table class="table table-dark table-striped table-hover shadow">
                <thead class="thead-dark">
                    <tr>
                        <th>Company<br> &#8658; Division(s)</th>
                        <th>MR Name (contact)</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in page_obj %}
                    <tr>
                        <td colspan="3"><hr class="border-2 mx-3 my-2 mt-0 text-center"><strong>{{ company.name }}</strong></td>
                    </tr>
                    {% if company.ordered_divisions %}
                        {% for division in company.ordered_divisions %}
                        <tr>
                            <td> &#8658; {{ division.name }}</td>
                            <td>
                                                                {% if division.medical_representative %}
                                    {{ division.medical_representative.name }} ({{ division.medical_representative.mobile_number }})
                                {% else %}
                                    Not assigned
                                {% endif %}
                            </td>

                            <td>
                                <a href="{% url 'division_edit' division.id %}" class="btn btn-sm btn-primary me-2">Edit</a>
                                <a href="{% url 'division_delete' division.id %}" class="btn btn-sm btn-danger">Delete</a>
                            </td>
                        </tr>
                        {% endfor %}
                    {% else %}
                    <tr>
                        <td></td>
                        <td colspan="2">No divisions found.</td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <!-- Pagination -->
    <div class="row justify-content-center mt-4">
        <div class="col-md-8">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1{% if search_query %}&search={{ search_query }}{% endif %}">First</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Previous</a></li>
                    {% endif %}

                    {% for num in page_obj.paginator.page_range %}
                    {% if num == page_obj.number %}
                    <li class="page-item active"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                    {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ num }}{% if search_query %}&search={{ search_query }}{% endif %}">{{ num }}</a></li>
                    {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}{% if search_query %}&search={{ search_query }}{% endif %}">Next</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}{% if search_query %}&search={{ search_query }}{% endif %}">Last</a></li>
                    {% endif %}
                </ul>
            </nav>
        </div>
    </div>
</div>
{% endblock %}