{% extends 'base.html' %}

{% block title %}Delete Company{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2 class="text-center mb-4 text-white">Delete Division</h2>
            <!-- Bootstrap Danger Box -->
            <div class="alert alert-info" role="alert">
                <p class="text-bg-danger text-center fw-bolder font-monospace">Are you sure you want to delete "{{ division.name }}" Division of Company: "{{ company.name }}"?</p>
                <form method="post" class="d-flex justify-content-around">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm</button>
                    <a href="{% url 'division_list' %}" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}