{% extends 'base.html' %}

<body>
{% block content %}  
    <div class="container">
        <div class="jumbotron bg-info-subtle text-dark rounded-4 align-middle text-center">
            <h1>Welcome to OpenR<sub>x</sub> ERP</h1>
            <p class="lead fs-5 fst-italic fw-bold">Your Secure, On-Premise Solution for Retail Pharmacies in India, with Cloud Flexibility.</p>
        </div>
        <p class="feature-heading text-center">Explore our features:</p>
        <div class="row">
            {% for app in apps_and_features %}
                <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
                    <div class="feature-tile">
                        <h3>{{ app.name }}</h3>
                        <ul>
                            {% for feature in app.features %}
                                <li class="fs-4"><a href="{{ feature.url }}">{{ feature.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            {% endfor %}
        </div>
            <div class="row">
                <div class="col-auto col-md-auto">
                    <div class="jumbotron py-4 px-5">
                        <h3>"Future-Proof Your Pharmacy Business with OpenRx ERP"</h3>
                        <div class="fs-5 justify-content-evenly">  {% include "whats_new.html" %} </div>
                    </div>
                </div>
        </div>
    
    </div>
</body>

{% endblock %}